logs
.env
media/media
media/torrents
media/configs
affine/config
affine/postgres
affine/storage
homeassistant/config
filebrowser/config
filebrowser/database
booklore/books
booklore/data
booklore/bookdrop
booklore/mariadb
n8n/local-files
