services:
  filebrowser:
    image: filebrowser/filebrowser:latest
    container_name: filebrowser
    restart: unless-stopped
    volumes:
      - /home/newman:/srv
      - /home/newman/homelab/filebrowser/database/filebrowser.db:/filebrowser.db
      - /home/newman/homelab/filebrowser/config/settings.json:/settings.json
    user: 1000:1000
    environment:
      - PUID=$(id -u)
      - PGID=$(id -g)
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.filebrowser.rule=Host(`filebrowser.home.neumanf.com`)
      - traefik.http.routers.filebrowser.entrypoints=https
      - traefik.http.routers.filebrowser.tls=true
      - traefik.http.services.filebrowser.loadbalancer.server.port=80
networks:
  traefik:
    external: true
