services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    volumes:
      - ./config:/config
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TZ=America/Recife 
    restart: unless-stopped
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.homeassistant.rule=Host(`homeassistant.home.neumanf.com`)
      - traefik.http.routers.homeassistant.entrypoints=https
      - traefik.http.routers.homeassistant.tls=true
      - traefik.http.services.homeassistant.loadbalancer.server.port=8123
      - glance.name=Home Assistant
      - glance.icon=sh:home-assistant
      - glance.url=https://homeassistant.home.neumanf.com
      - glance.id=homeassistant
      - glance.category=automation
networks:
  traefik:
    external: true
