services:
  gluetun:
    image: docker.io/qmcgaw/gluetun:latest
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    env_file: .env
    environment:
      - TZ=Etc/UTC
      - VPN_SERVICE_PROVIDER=protonvpn
      - VPN_TYPE=openvpn
      - OPENVPN_USER=${OPENVPN_USER}
      - OPENVPN_PASSWORD=${OPENVPN_PASSWORD}
      - PORT_FORWARDING_QBITTORRENT_ADDRESS=http://qbittorrent:8081
      - PORT_FORWARDING_QBITTORRENT_USERNAME=${QBITTORRENT_USER}
      - PORT_FORWARDING_QBITTORRENT_PASSWORD=${QBITTORRENT_PASSWORD}
    volumes:
      - ./vpn:/gluetun
    networks:
      - traefik
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.qbittorrent.rule=Host(`qbittorrent.home.neumanf.com`)
      - traefik.http.routers.qbittorrent.entrypoints=https
      - traefik.http.routers.qbittorrent.tls=true
      - traefik.http.services.qbittorrent.loadbalancer.server.port=8081
      - glance.name=Gluetun
      - glance.icon=sh:gluetun
      - glance.id=gluetun
      - glance.category=network

  qbittorrent:
    container_name: qbittorrent
    image: lscr.io/linuxserver/qbittorrent:latest
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - WEBUI_PORT=8081
    volumes:
      - ./configs/qbittorrent/config:/config
      - ./torrents/complete:/mnt/arr-stack/torrents/complete
    network_mode: "container:gluetun"
    depends_on:
      gluetun:
        condition: service_healthy
    labels:
      - glance.name=qBitTorrent
      - glance.icon=sh:qbittorrent
      - glance.url=https://qbittorrent.home.neumanf.com
      - glance.id=qbittorrent
      - glance.category=media

  radarr:
    container_name: radarr
    image: binhex/arch-radarr
    restart: unless-stopped
    volumes:
      - .:/mnt/arr-stack
      - ./configs/radarr:/config
      - /etc/localtime:/etc/localtime:ro
    environment:
      - PUID=1000
      - PGID=1000
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.radarr.rule=Host(`radarr.home.neumanf.com`)
      - traefik.http.routers.radarr.entrypoints=https
      - traefik.http.routers.radarr.tls=true
      - traefik.http.services.radarr.loadbalancer.server.port=7878
      - glance.name=Radarr
      - glance.icon=sh:radarr
      - glance.url=https://radarr.home.neumanf.com
      - glance.id=radarr
      - glance.category=media

  sonarr:
    container_name: sonarr
    image: binhex/arch-sonarr
    restart: unless-stopped
    volumes:
      - .:/mnt/arr-stack
      - ./configs/sonarr:/config
      - /etc/localtime:/etc/localtime:ro
    environment:
      - PUID=1000
      - PGID=1000
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.sonarr.rule=Host(`sonarr.home.neumanf.com`)
      - traefik.http.routers.sonarr.entrypoints=https
      - traefik.http.routers.sonarr.tls=true
      - traefik.http.services.sonarr.loadbalancer.server.port=8989
      - glance.name=Sonarr
      - glance.icon=sh:sonarr
      - glance.url=https://sonarr.home.neumanf.com
      - glance.id=sonarr
      - glance.category=media

  prowlarr:
    container_name: prowlarr
    image: binhex/arch-prowlarr
    restart: unless-stopped
    volumes:
      - ./configs/prowlarr:/config
      - /etc/localtime:/etc/localtime:ro
    environment:
      - PUID=1000
      - PGID=1000
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.prowlarr.rule=Host(`prowlarr.home.neumanf.com`)
      - traefik.http.routers.prowlarr.entrypoints=https
      - traefik.http.routers.prowlarr.tls=true
      - traefik.http.services.prowlarr.loadbalancer.server.port=9696
      - glance.name=Prowlarr
      - glance.icon=sh:prowlarr
      - glance.url=https://prowlarr.home.neumanf.com
      - glance.id=prowlarr
      - glance.category=media
  jellyfin:
    container_name: jellyfin
    image: jellyfin/jellyfin
    restart: unless-stopped
    volumes:
      - .:/mnt/arr-stack:ro
      - ./configs/jellyfin:/config
      - /mnt/fastssd/jellyfin/cache:/cache
    devices:
      - /dev/dri:/dev/dri
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.jellyfin.rule=Host(`jellyfin.home.neumanf.com`)
      - traefik.http.routers.jellyfin.entrypoints=https
      - traefik.http.routers.jellyfin.tls=true
      - traefik.http.services.jellyfin.loadbalancer.server.port=8096
      - glance.name=Jellyfin
      - glance.icon=sh:jellyfin
      - glance.url=https://jellyfin.home.neumanf.com
      - glance.id=jellyfin
      - glance.category=media
  jellyseerr:
    container_name: jellyseerr
    image: fallenbagel/jellyseerr:latest
    restart: unless-stopped
    environment:
      - TZ=America/Recife
    volumes:
      - ./configs/jellyseerr:/app/config
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.jellyseerr.rule=Host(`jellyseerr.home.neumanf.com`)
      - traefik.http.routers.jellyseerr.entrypoints=https
      - traefik.http.routers.jellyseerr.tls=true
      - traefik.http.services.jellyseerr.loadbalancer.server.port=5055
      - glance.name=Jellyseerr
      - glance.icon=sh:jellyseerr
      - glance.url=https://jellyseerr.home.neumanf.com
      - glance.id=jellyseerr
      - glance.category=media
networks:
  traefik:
    external: true
