services:
  nextcloud:
    container_name: nextcloud
    image: nextcloud:latest
    restart: unless-stopped
    environment:
      NEXTCLOUD_ADMIN_USER: ${NEXTCLOUD_USER}
      NEXTCLOUD_ADMIN_PASSWORD: ${NEXTCLOUD_PASSWORD}
      NEXTCLOUD_TRUSTED_DOMAINS: nextcloud.home.neumanf.com
      POSTGRES_HOST: nextcloud-database
      POSTGRES_DB: nextcloud
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.nextcloud.rule=Host(`nextcloud.home.neumanf.com`)
      - traefik.http.routers.nextcloud.entrypoints=https
      - traefik.http.routers.nextcloud.tls=true
      - traefik.http.services.nextcloud.loadbalancer.server.port=80
      - glance.name=Next Cloud
      - glance.icon=sh:nextcloud
      - glance.url=https://nextcloud.home.neumanf.com
      - glance.id=nextcloud
      - glance.category=documents
    depends_on:
      - nextcloud-database
    volumes:
      - nextcloud:/var/www/html
      - postgres:/var/lib/postgresql/data
  nextcloud-database:
    container_name: nextcloud-database
    image: postgres:15.1 
    restart: unless-stopped
    environment:
      POSTGRES_DB: nextcloud
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    networks:
      - traefik
    volumes:
      - postgres:/var/lib/postgresql/data
    labels:
      - glance.parent=nextcloud
      - glance.name=Database
volumes:
  nextcloud:
  postgres:
networks:
  traefik:
    external: true
